@page "/add-weather-forecast"
@inject WeatherForecastService weatherForecastService
@inject NavigationManager navigationManager
@attribute [Authorize(Policy = Policies.CanManageWeatherForecast)]

<h1>
    Add New Weather Forecast
</h1>

<EditForm OnSubmit="@HandleValidSubmit" Model="@_model">
    <div class="form-group row">
        <label for="weatherName" class="col-sm-3">Weather name: </label>
        <InputText id="weatherName" class="form-control col-sm-8" @bind-Value="@_model.WeatherName" placeholder="Enter Weather name"></InputText>
    </div>
    <div class="form-group row">
        <div class="col-sm-3"></div>
        <div class="col-sm-8">
            <button type="submit" class="btn btn-primary edit-btn">Add New</button>
        </div>
    </div>
</EditForm>

@code {
    private AddWeatherForecastModel _model = new AddWeatherForecastModel();

    private async Task HandleValidSubmit()
    {
        await weatherForecastService.Create(_model);
        navigationManager.NavigateTo("/fetchdata");
    }
}
